<!-- include header -->
   <%- include('include/_header') %>
<!-- /include header  -->


<!-- main site -->
<main id="site-main">
    <div class="container">
       <div class =".box-nav d-flex justify-between">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User</span>
            <i class="fa-solid fa-user"></i>
        </a>
       </div>

       <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <%- include('include/_show') %>

                    <!-- <tr>
                        <td>1</td>
                        <td>Username</td>
                        <td>example@gmail.com</td>
                        <td>Male</td>
                        <td>Active</td>
                        <td>
                            <a href="#" class="btn border-shadow update">
                                <spam class="text-gradient"></spam>
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="#" class="btn border-shadow delete">
                                <spam class="text-gradient"></spam>
                                <i class="fas fa-times"></i>
                            </a>
                        </td>

                    </tr> -->

                </tbody>
            </table>
        </form>
        
    </div>
 </main>





<!-- /main site -->


     
     



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
